/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

#container {
  position: absolute;
  margin: 0;
  width: 536px;
  height: 616px;
  background-color: aqua;
}

#background {
  position: absolute;
  width: 536px;
  height: 616px;
  background-color: rgb(57, 3, 110);
  background-repeat: no-repeat;
}

#hairback {
  position: absolute;
  width: 555px;
  height: 987px;
  background-repeat: no-repeat;
}

.hairback {
  position: absolute;
  top: 4px;
  width: 555px;
  height: 987px;
  background-image: url("hairback.png");
}

#man {
  position: absolute;
  top: -10px;
  width: 555px;
  height: 987px;
  background-image: url("body.png");
  background-repeat: no-repeat;
}

#shoes {
  position: absolute;
  width: 555px;
  height: 987px;
  background-repeat: no-repeat;
}

.shoe1 {
  position: absolute;
  width: 555px;
  height: 987px;
  background-image: url(shoe1.png);
  background-repeat: no-repeat;
}

.shoe2 {
  position: absolute;
  width: 555px;
  height: 987px;
  background-image: url(shoe2.png);
}

.shoe3 {
  position: absolute;
  width: 555px;
  height: 987px;
  background-image: url(shoe3.png);
}

#clothes {
  position: absolute;
  width: 555px;
  height: 907px;
  background-repeat: no-repeat;
}

.dress1 {
  position: absolute;
  top: -6px;
  width: 555px;
  height: 987px;
  background-image: url(dress1.png);
}

.dress2 {
  position: absolute;
  width: 555px;
  height: 987px;
  background-image: url(dress2.png);
}

.dress3 {
  position: absolute;
  top: 6px;
  width: 555px;
  height: 987px;
  background-image: url(dress3.png);
}

#hairfront {
  top: 4px;
  position: absolute;
  width: 555px;
  height: 987px;
  background-repeat: no-repeat;
}

.hairfront1 {
  position: absolute;
  width: 555px;
  height: 987px;
  background-image: url(hairfront1.png);
}

.hairfront2 {
  position: absolute;
  width: 555px;
  height: 987px;
  background-image: url(hairfront2.png);
}

.hairfront3 {
  position: absolute;
  width: 555px;
  height: 987px;
  background-image: url(hairfront3.png);
}

#nexthair {
  position: absolute;
  right: 50px;
  top: 150px;
}

#nextdress {
  position: absolute;
  right: 50px;
  top: 190px;
}

#nextshoe {
  position: absolute;
  right: 50px;
  top: 230px;
}
